.navbar-brand{
    line-height: 70px;
    height: 70px;
    width: 140px;
    padding-top: 0;
}

.input-group{
    margin: 20px;
}

.form-control{
    border-radius: 0;
}

.crop {
    width: 200px;
    height: 150px;
    overflow: hidden;
}

.crop img {
    width: 400px;
    height: 300px;
    margin: -75px 0 0 -100px;
}

.imageSimilarNodule{
    cursor: pointer;
}

.pagination-wrap {
    width: 100%;
    text-align: center;
}

#search-box{
    margin-top: -70px;
    margin-left: 150px;
}

.container-img{
    width: 60px;
    height: 60px;
    overflow: hidden;
    background-color: blue;
    margin: 0 auto;
    border-radius: 5px;
}

.container-img img{
    margin-top: -100px;
    margin-left: -95px;
}

.container-img img:hover {
    transform: scale(1.5, 1.5);
}

.container-main-img{
    width: 150px;
    height: 150px;
    overflow: hidden;
    background-color: blue;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 20px;
}

.container-main-img img{
    margin-top: -55px;
    margin-left: -50px;
}

.container-main-img img:hover {
    transform: scale(1.5, 1.5);
}

.image-with-text h6{
    margin-top: -50px;
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
    font-size: 10px;
}







