<div>

    <div class="row" id="search-box">
        <div class="col-md-4 col-md-offset-4">
            <div class="input-group custom-search-form">
                <input id="search-exam" type="text" class="form-control search-input"
                       placeholder="Pesquisa rápida..." ng-model="$parent.searchExam">
              <span class="input-group-btn">
              <button class="btn btn-primary" type="button" ng-click="search()">
                  <span class="glyphicon glyphicon-search"></span>
              </button>
             </span>
            </div><!-- /input-group -->

            <hr>
            <h5>Ordenar por nível de malignidade:
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">1</button>
                <button type="button" class="btn btn-default">2</button>
                <button type="button" class="btn btn-default">3</button>
                <button type="button" class="btn btn-default">4</button>
                <button type="button" class="btn btn-default">5</button>
            </div>
            </h5>
        </div>



    </div>

    <table class="table table-responsive" align="center" style="width: 80%; margin-top: 10px" >
        <thead class="text-center">
        <tr>
            <th class="text-center">Path</th>
            <th class="text-center">Date Request</th>
            <th class="text-center">Date Service</th>
            <th class="text-center" >Big Nodules</th>
        </tr>
        </thead>
        <tr  ng-repeat="exam in allExams.exams" style="cursor: pointer;" class="text-center">
            <td ng-click="goToExam(exam)" class="col-lg-4" >
                {{exam.path.substring(1, 25)}}
            </td>
            <td ng-click="goToExam(exam)" class="col-lg-3">
                {{exam.responseHeader.dateRequest}}
            </td>
            <td ng-click="goToExam(exam)" class="col-lg-3">
                {{exam.responseHeader.dateService}}
            </td >
            <td ng-click="goToExam(exam)" class="col-lg-2">
                {{exam.readingSession.bignodule.length}}
            </td>
            <td ng-click="goToExam(exam)" class="col-lg-2">
                {{showQuantityNodulesLvl(exam, 1)}}
            </td>
            <td ng-click="goToExam(exam)" class="col-lg-2">
                {{showQuantityNodulesLvl(exam, 2)}}
            </td>
            <td ng-click="goToExam(exam)" class="col-lg-2">
                {{showQuantityNodulesLvl(exam, 3)}}
            </td>
            <td ng-click="goToExam(exam)" class="col-lg-2">
                {{showQuantityNodulesLvl(exam, 4)}}
            </td>
            <td ng-click="goToExam(exam)" class="col-lg-2">
                {{showQuantityNodulesLvl(exam, 5)}}
            </td>
        </tr>
    </table>
    <div class="pagination-wrap" ng-show="allExams.totalPages != 0">
        <uib-pagination first-text="Primeira"
                        last-text="Última"
                        previous-text="Anterior"
                        next-text="Próxima"
                        total-items="totalItems"
                        max-size="maxSize"
                        ng-model="currentPage"
                        ng-change="pageChanged()"
                        boundary-links="true"
                        class="pagination-sm">
        </uib-pagination>
    </div>

    <div class="text-center" ng-hide="allExams.totalPages != 0">Nenhum resultado encontrado.</div>
</div>