<div class="container-fluid">
    <div class="panel-heading row">
        <div class="col-md-3 text-center"><h3></h3></div>
        <div class="col-md-6 text-center"><h2>{{exam.path.substring(11, 25)}}</h2></div>
        <div class="col-md-3 text-center"><h3></h3></div>
    </div>

    <div class="panel-body row">
        <div class="col-md-3 text-center">

            <h4>Versão {{exam.responseHeader.version}}</h4>
            <hr>
            <h4>Message ID: {{exam.responseHeader.messageId}}</h4>
            <hr>
            <h4>Descrição </h4>
            <h5>{{exam.responseHeader.taskDescription}}</h5>
            <hr>
            <h4>Pedido </h4>
            <h5>Data: {{exam.responseHeader.dateRequest}}</h5>
            <h5>Hora: {{exam.responseHeader.timeRequest}}</h5>
            <hr>
            <h4>Serviço </h4>
            <h5>Data: {{exam.responseHeader.dateService}}</h5>
            <h5>Hora: {{exam.responseHeader.timeService}}</h5>
        </div>

        <div class="col-md-9 text-center">
           <!-- <img ng-elevate-zoom
                 ng-src="data:image/PNG;base64,{{image}}"
                 zoom-image="data:image/PNG;base64,{{image}}"
                 alt=""
                 style="width: 75%"
                 class="img-rounded"
                 ng-click="allowZoom()"

                 put htis after      />
                 -->
            <div class="row" style="overflow: scroll; height: 400px">
                <div class="col-md-6 text-center">
                    <div ng-repeat="bigNodule in bigNodules">
                        <h5>Nódulo ID: {{bigNodule.noduleId}}</h5>
                        <h6>Malignidade: {{bigNodule.malignancy}}</h6>
                            <uib-carousel style="cursor: pointer; width: 60%">
                                <uib-slide ng-repeat="roi in bigNodule.rois" index="$index" active="0">
                                        <img ng-elevate-zoom
                                             ng-src="data:image/PNG;base64,{{roisImg[bigNodule.noduleId + $index]}}"
                                             zoom-image="data:image/PNG;base64,{{roisImg[bigNodule.noduleId + $index]}}"
                                             class="img-rounded"
                                             style="cursor: pointer;"
                                             ng-click="allowZoom()"/>
                                    </br>
                                    <hr>
                                </uib-slide>
                            </uib-carousel>
                        <button ng-click="openNoduleDetails(bigNodule)"
                                class="btn btn-primary"
                                style="border-radius: 0 !important;"> Mostrar Detalhes </button>
                    </div>
                </div>
            </div>
        </div>

<!--        <div class="col-md-3 text-center">
            <h4>Big Nodules</h4>
            <hr>
            <nav style="overflow: scroll; height: 400px">
                <ul ng-repeat="bigNodule in bigNodules" class="nav nav-pills nav-stacked span2" >
                    <h5>Nódulo ID: {{bigNodule.noduleId}}</h5>
                    <div class="container-img text-center">
                         <img ng-src="data:image/PNG;base64,{{noduleImg[bigNodule.noduleId]}}" ng-click="openNoduleDetails(bigNodule)" alt="" class="img-rounded"  style="cursor: pointer;"  />
                    </div>
                    <h6>Malignidade: {{bigNodule.malignancy}}</h6>
                    <hr>
                </ul>
            </nav>

        </div>
-->

    </div>
</div>