<div>

    <table class="table table-responsive table-striped" align="center" style="width: 100%;">
        <thead>
        <tr>
            <th>Path</th>
            <th>Date Request</th>
            <th>Date Service</th>
            <th>Big Nodules</th>
        </tr>
        </thead>
        <tr  ng-repeat="exam in allExams.exams" style="cursor: pointer;">
            <td ng-click="goToExam(exam)" class="col-lg-6" >
                {{exam.path.substring(1, 25)}}
            </td>
            <td ng-click="goToExam(exam)" class="col-lg-2">
                {{exam.responseHeader.dateRequest}}
            </td>
            <td ng-click="goToExam(exam)" class="col-lg-2">
                {{exam.responseHeader.dateService}}
            </td >
            <td ng-click="goToExam(exam)" class="col-lg-2">
                {{exam.readingSession.bignodule.length}}
            </td>
        </tr>
    </table>
    <div class="pagination-wrap" ng-show="allExams.totalPages != 0">
        <uib-pagination first-text="Primeira"
                        last-text="Última"
                        previous-text="Anterior"
                        next-text="Próxima"
                        total-items="totalItems"
                        max-size="maxSize"
                        ng-model="currentPage"
                        ng-change="pageChanged()"
                        boundary-links="true"
                        class="pagination-sm">
        </uib-pagination>
    </div>

    <div class="text-center" ng-hide="allExams.totalPages != 0">Nenhum resultado encontrado.</div>
    <div class="text-center" ng-hide="allExams.totalPages != 0">Nenhum resultado encontrado.</div>
</div>