<div class="nodule-modal">
    <div class="modal-header text-center">
        <h3>Nódulo ID: {{actualNodule.noduleId}}</h3>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-md-6 text-center">
                <img ng-src="data:image/PNG;base64,{{noduleImg[actualNodule.noduleId]}}"
                     alt=""
                     class="img-rounded"
                     style="width: 50%; margin-bottom: 20px"  />

                <br>

                <table class= "table text-left">
                    <tbody>
                    <tr>
                        <td>Sutileza</td>
                        <td>{{actualNodule.subtlety}}</td>
                    </tr>
                    <tr>
                        <td>Estrutura Interna</td>
                        <td>{{actualNodule.internalStructure}}</td>
                    </tr>
                    <tr>
                        <td>Calcificação</td>
                        <td>{{actualNodule.calcification}}</td>
                    </tr>
                    <tr>
                        <td>Esfericidade</td>
                        <td>{{actualNodule.sphericity}}</td>
                    </tr>
                    <tr>
                        <td>Calcificação</td>
                        <td>{{actualNodule.calcification}}</td>
                    </tr>
                    <tr>
                        <td>Margem</td>
                        <td>{{actualNodule.margin}}</td>
                    </tr>
                    <tr>
                        <td>Lobulação</td>
                        <td>{{actualNodule.lobulation}}</td>
                    </tr>
                    <tr>
                        <td>Spiculation</td>
                        <td>{{actualNodule.spiculation}}</td>
                    </tr>
                    <tr>
                        <td>Textura</td>
                        <td>{{actualNodule.texture}}</td>
                    </tr>
                    <tr>
                        <td>Malignidade</td>
                        <td>{{actualNodule.malignancy}}</td>
                    </tr>

                    </tbody>
                </table>
            </div>

            <div class="col-md-6 text-center" ng-show="!isSimilar" style="margin-top: -30px;">
                <h3>Nódulos Semelhantes</h3>
                <h5> Malignos: {{numberMalign}} | Benignos: {{numberBenign}}</h5>
                <hr>
                    <div class="row" style="overflow: scroll; height: 500px">
                        <div ng-repeat="similarNodule in similarNodules"
                             class="col-md-6 text-center">

                            <h6>ID Nódulo: {{similarNodule.idNodule}}</h6>
                            <h6>Exame: {{similarNodule.path.substring(11, 25)}}</h6>
                            <img ng-src="data:image/PNG;base64,{{similarNoduleImg[similarNodule.idNodule]}}"
                                 alt=""
                                 ng-click="openDetails(similarNodule)"
                                 class="img-rounded imageSimilarNodule"
                                 style="width: 50%"

                            />
                            <h5>Malignidade: {{similarNodule.malignancy}}</h5>
                            <hr>
                        </div>

                    </div>
            </div>

            <div class="col-md-6 text-center" ng-show="isSimilar" style="margin-bottom: 0px; margin-top: -20px" >
                <h4>Nódulo Semelhante <button class="btn btn-default" type="button" ng-click="backToSimilar()"
                style="border: none">
                    <span class="glyphicon glyphicon-remove"></span></button></h4>
            </button>
                <hr>
                <h6>ID Nódulo: {{similarNoduleSelected.idNodule}} | Exame: {{similarNoduleSelected.path.substring(11, 25)}}</h6>
                <img ng-src="data:image/PNG;base64,{{noduleImg[actualNodule.noduleId]}}"
                     alt=""
                     class="img-rounded"
                     style="width: 30%; margin-bottom: 15px"  />
                <br>

                <table class= "table text-left">
                    <tbody>
                    <tr>
                        <td>Sutileza</td>
                        <td>{{similarNoduleSelected.subtlety}}</td>
                    </tr>
                    <tr>
                        <td>Estrutura Interna</td>
                        <td>{{similarNoduleSelected.internalStructure}}</td>
                    </tr>
                    <tr>
                        <td>Calcificação</td>
                        <td>{{similarNoduleSelected.calcification}}</td>
                    </tr>
                    <tr>
                        <td>Esfericidade</td>
                        <td>{{similarNoduleSelected.sphericity}}</td>
                    </tr>
                    <tr>
                        <td>Calcificação</td>
                        <td>{{similarNoduleSelected.calcification}}</td>
                    </tr>
                    <tr>
                        <td>Margem</td>
                        <td>{{similarNoduleSelected.margin}}</td>
                    </tr>
                    <tr>
                        <td>Lobulação</td>
                        <td>{{similarNoduleSelected.lobulation}}</td>
                    </tr>
                    <tr>
                        <td>Spiculation</td>
                        <td>{{similarNoduleSelected.spiculation}}</td>
                    </tr>
                    <tr>
                        <td>Textura</td>
                        <td>{{similarNoduleSelected.texture}}</td>
                    </tr>
                    <tr ng-class="{danger: similarNoduleSelected.malignancy > actualNodule.malignancy,
                                    info: similarNoduleSelected.malignancy == actualNodule.malignancy,
                                    success: similarNoduleSelected.malignancy < actualNodule.malignancy}">
                        <td>Malignidade</td>
                        <td>{{similarNoduleSelected.malignancy}}</td>
                    </tr>

                    </tbody>
                </table>
            </div>

            </div>
        </div>
    </div>
</div>